version: 2.1

orbs:
  docker: circleci/docker@2.5.0
  sonarcloud: sonarsource/sonarcloud@2.0.0

jobs:  
  jvm-build-test:
    parameters:
      project:
        type: string
    machine:
      image: ubuntu-2204:2023.10.1
    # resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-v1-{{ checksum "pom.xml" }}-{{ checksum "<< parameters.project >>/pom.xml"}} 
            - deps-v1-{{ checksum "pom.xml"}}-
            - deps-v1-
      - run:
          name: Build and test on the JVM
          working_directory: << parameters.project >>
          command: |
            ./mvnw -B clean verify \
              -Dquarkus.http.host=0.0.0.0 \
              -Dmaven.compiler.release=17
      - save_cache:
          key: deps-v1-{{ checksum "pom.xml" }}-{{ checksum "<< parameters.project >>/pom.xml"}} 
          paths:
            - ~/.m2/repository
      - run:
          name: Copy Surefire reports
          when: always
          command: |
            mkdir ~/surefire-reports
            cd << parameters.project >>
            cp target/surefire-reports/TEST-io* ~/surefire-reports
      - store_test_results:
          path: ~/surefire-reports
      - store_artifacts:
          path: << parameters.project >>/target/surefire-reports
      - run:
          name: Copy Failsafe reports
          when: always
          command: |
            mkdir ~/failsafe-reports
            cd << parameters.project >>
            cp target/failsafe-reports/TEST-io* ~/failsafe-reports
      - store_test_results:
          path: ~/failsafe-reports
      - store_artifacts:
          path: << parameters.project >>/target/failsafe-reports

  build-push-container-images:
    machine:
      image: ubuntu-2204:2023.10.1
    parameters:
      project:
        type: string
      java-version:
        type: string
        default: '17'
      arch: 
        type: enum
        default: amd64
        enum: [amd64, arm64]
    steps:
      - checkout
      - run: 
          name: Create container tag
          command: |
            # echo "CONTAINER_TAG=$(./compute-container-tag.sh ${{ env.APP_VERSION }} ${{ env.QUARKUS_VERSION }} "" ${{ matrix.java }} "${{ matrix.project.openai-type }}")" >> $GITHUB_ENV
            echo "CONTAINER_TAG=0.0.0.<< pipeline.number >>-jdk<< parameters.java-version >>" >> "$BASH_ENV"
      - restore_cache:
          keys:
            - deps-v1-{{ checksum "pom.xml" }}-{{ checksum "<< parameters.project >>/pom.xml"}} 
            - deps-v1-{{ checksum "pom.xml"}}-
            - deps-v1-
      # Container image name by default taken from << parameters.project >>/src/main/resources/application.properties. Same for Container image registry and group deets
      - run:
          name: Build JVM Docker Image - << parameters.project >>
          working_directory: << parameters.project >>
          command: |
            ./mvnw -B clean package -DskipTests \
              -Dmaven.compiler.release=<< parameters.java-version >> \
              -Dquarkus.http.host=0.0.0.0 \
              -Dquarkus.container-image.build=true \
              -Dquarkus.container-image.push=false \
              -Dquarkus.container-image.registry="" \
              -Dquarkus.container-image.group=zmarkan \
              -Dquarkus.container-image.name=quarkus-super-heroes-<<parameters.project>> \
              -Dquarkus.container-image.tag=$CONTAINER_TAG-<< parameters.arch >> \
              -Dquarkus.docker.dockerfile-jvm-path=src/main/docker/Dockerfile.jvm \
              -Dquarkus.docker.buildx.platform=linux/<< parameters.arch >>
      - save_cache:
          key: deps-v1-{{ checksum "pom.xml" }}-{{ checksum "<< parameters.project >>/pom.xml"}} 
          paths:
            - ~/.m2/repository
      - docker/push:
          image: zmarkan/quarkus-super-heroes-<< parameters.project>>
          tag: $CONTAINER_TAG-<< parameters.arch >>

  sonar-scan:
    machine: 
      image: ubuntu-2204:2023.10.1
    parameters:
      project:
        type: string
    steps:
      - checkout
      - sonarcloud/scan:
          project_root: << parameters.project >>
      
workflows:
  build_and_test:
    jobs:
      - jvm-build-test:
          name: jvm-build-test-<< matrix.project >>
          matrix:
            parameters:
              project:
                # - event-statistics
                # - rest-fights
                - rest-heroes
                # - rest-villains
                # - rest-narration
                # - grpc-locations
                - ui-super-heroes
      - build-push-container-images:
          name: build-push-container-image-<< matrix.project >>
          requires:
            - jvm-build-test-<< matrix.project >>
          matrix:
            parameters:
              project: 
                # - event-statistics
                # - rest-fights
                - rest-heroes
                # - rest-villains
                # - rest-narration
                # - grpc-locations
                - ui-super-heroes  
          context: 
            - docker_hub   

      # Disable sonar for now
      # - sonar-scan:
      #     matrix:
      #       parameters:
      #         project: 
      #           - event-statistics
      #           - rest-fights
      #           - rest-heroes
      #           - rest-villains
      #           - rest-narration
      #           - grpc-locations
      #           - ui-super-heroes  
      #     context: 
      #       - SonarCloud

      # - jvm_build_test_rest-fights
      # - jvm_build_test_rest-heroes
      # - jvm-container-build-test_rest-heroes