version: 2.1

jobs:
  hello_world:
    docker: 
      - image: cimg/base:stable
    steps:
      - run: echo "hello world"
  
  jvm-build-test:
    parameters:
      project:
        type: string
    machine:
      image: ubuntu-2204:2023.10.1
    # resource_class: xlarge
    steps:
      - checkout
      - run:
          name: Build and test on the JVM
          working_directory: << parameters.project >>
          command: |
            ./mvnw -B clean verify \
              -Dquarkus.http.host=0.0.0.0 \
              -Dmaven.compiler.release=17
      - run:
          name: Copy Surefire reports
          when: always
          command: |
            mkdir ~/surefire-reports
            cd << parameters.project >>
            cp target/surefire-reports/TEST-io* ~/surefire-reports
      - store_test_results:
          path: ~/surefire-reports
      - store_artifacts:
          path: << parameters.project >>/target/surefire-reports
      - run:
          name: Copy Failsafe reports
          when: always
          command: |
            mkdir ~/failsafe-reports
            cd << parameters.project >>
            cp target/failsafe-reports/TEST-io* ~/failsafe-reports
      - store_test_results:
          path: ~/failsafe-reports
      - store_artifacts:
          path: << parameters.project >>/target/failsafe-reports

      
workflows:
  build_and_test:
    jobs:
      - hello_world
      - jvm-build-test:
          matrix:
            parameters:
              project:
                - event-statistics
                - rest-fights
                - rest-heroes
                - rest-villains
                - rest-narration
                - grpc-locations
                - ui-super-heroes

      # - jvm_build_test_rest-fights
      # - jvm_build_test_rest-heroes
      # - jvm-container-build-test_rest-heroes